[Unit]
Description=Disk imaging service
After=network-online.target
Wants=network-online.target

[Service]
Type=idle
ExecStart=/opt/nico/disk_imaging.sh
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
