nicod/
target/*
!target/release/nico-admin-cli
!target/aarch64-unknown-linux-gnu/release/nico-dpu-agent
!target/aarch64-unknown-linux-gnu/release/nico-dpu-otel-agent
!target/aarch64-unknown-linux-gnu/release/nico-dhcp-server
!target/aarch64-unknown-linux-gnu/release/nico-fmds
.git/
pxe/mkiso/
**/.mkosi*
pxe/static/blobs/internal/*/.mkosi*
**/.mkosi*
