{
	"Dhcp4": {
		// Add names of your network interfaces to listen on.
		"interfaces-config": {
			"interfaces": [ "##CHANGEME##" ],

			// Relay only
			"dhcp-socket-type": "udp"
		},

		"lease-database": {
			"type": "memfile",
			"lfc-interval": 3600
		},

		"multi-threading": {
			"enable-multi-threading": false,
			"thread-pool-size": 4,
			"packet-queue-size": 16
		},

		"renew-timer": 900,
		"rebind-timer": 1800,
		"valid-lifetime": 3600,

		// Another thing possible here are hooks. Kea supports a powerful mechanism
		// that allows loading external libraries that can extract information and
		// even influence how the server processes packets.
		"hooks-libraries": [
			{
				// NICo provides host provisioning workflow
				"library": "/home/andrew/NVIDIA/nico/target/debug/libdhcp.so",
				"parameters": {
					"nico-api-url": "https://[::1]:1079",
					"nico-metrics-endpoint": "[::]:1089",
					"nico-nameservers": "##CHANGEME##",
					"nico-mqtt-server": "##CHANGEME##",
					"nico-provisioning-server-ipv4": "##CHANGEME##"
				}
			}
		],
		"subnet4": [
			{
				"subnet": "0.0.0.0/0",
				"pools": [{
					"pool": "0.0.0.0-255.255.255.255"
				}]
			}
		],

		"loggers": [
			{
				"name": "kea-dhcp4",
				"output_options": [{"output": "stdout"}],
				"severity": "DEBUG",
				"debuglevel": 10
			},
			{
				"name": "kea-dhcp4.nico-rust",
				"output_options": [{"output": "stdout"}],
				"severity": "INFO",
				"debuglevel": 10
			},
			{
				"name": "kea-dhcp4.nico-callouts",
				"output_options": [{"output": "stdout"}],
				"severity": "INFO",
				"debuglevel": 10
			}
		]

	}
}
