[Unit]
Description=Open vSwitch Pipesize Fix
After=ovs-vswitchd.service
Requires=ovs-vswitchd.service
ReloadPropagatedFrom=ovs-vswitchd.service

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=HOME=/var/run/openvswitch
EnvironmentFile=-/etc/default/openvswitch-switch
ExecStart=/opt/nico/update-ovs-pipe-size.sh
ExecReload=/opt/nico/update-ovs-pipe-size.sh
TimeoutSec=300

[Install]
WantedBy=ovs-vswitchd.service
